{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
<div class="user-section _log">
  <div class="bg logBg"></div>
  <div class="left_side">
    <div class="section">
      <div class="login_container">
        <div class="logo _log">
          <a href="{% url 'home' %}">
            <img src="{% static 'img/icons/logo-log.png' %}">
          </a>
          <h2 class="t-cp">Forget password</h2>
        </div>
        <form action="{% url 'deals' %}" method="GET">
          <label>Email</label>
          <input type="email" name="" required>
          <br>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
